body {
	background-color: #CBDCEB;
	color: darkred;
	font-family: Courrier;
	line-height: 1.7;
	letter-spacing: 0px;
	font-weight: lighter;
	text-align: center;
}

.card {
	width: 75%;
	max-width: 800px;
	border-radius: 7px;
	box-shadow: 5 4px 7px rgba(0, 0, 0, 0.7);
	padding: 100px;
	margin: 125px;
	background-color: white;
	color: skyblue;
	text-align: center;
}

.card.intro { background-color: white; }
.card.Travels { background-color: white; }
.card.football { background-color: white; }
.card.economy { background-color: white; }
.card.follow { background-color: white; }

.img-circle {
	border-radius: 50%;
	box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.3);
}
h1 {
	color: skyblue;
	font-family: Helvetica;
	font-weight: 800;
	letter-spacing: 10px;
	font-size: 32px;
	text-transform: uppercase;
	margin: 10px;
	margin: 10px;
	margin-top: 0;
}

a {
	text-decoration: none;
}

a:hover {
	color: black;
}

h2 {
	color: skyblue;
	font-family: Helvetica;
	font-weight: 800;
	letter-spacing: 10px;
	font-size: 32px;
	text-transform: uppercase;
	margin: 10px;
	margin: 10px;
	margin-top: 0;
}

h3 {
	color: skyblue;
	font-family: Helvetica;
	font-weight: 800;
	letter-spacing: 10px;
	font-size: 32px;
	text-transform: uppercase;
	margin: 10px;
	margin: 10px;
	margin-top: 0;
}

h4 {
	color: skyblue;
	font-family: Helvetica;
	font-weight: 800;
	letter-spacing: 10px;
	font-size: 32px;
	text-transform: uppercase;
	margin: 10px;
	margin: 10px;
	margin-top: 0;
}

h5 {
	color: skyblue;
	font-family: Helvetica;
	font-weight: 800;
	letter-spacing: 10px;
	font-size: 32px;
	text-transform: uppercase;
	margin: 10px;
	margin: 10px;
	margin-top: 0;
}

.btn { 
	background-color: skyblue;
	color: white;
	padding: 15px 20px;
	border-radius: 4px
}

.btn:hover {
	background-color: black;
	color: white;

}